<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <div class="first">
        <table>
          <tr class="header">
            <th>First Column</th>
          </tr>
          <tr>
            <td class="common">Common</td>
          </tr>
          <tr>
            <td class="common2">Common2</td>
          </tr>
        </table>
      </div>
      <div class="second">
        <table>
          <tr class="header">
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          

          <tr>
            <td>Eve</td>
            <td>Kackson</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Kackson</td>
            <td>94</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
