textarea.form-control {
height: 100px;
}

.discipline-name:hover, .discipline-icon:hover {
    cursor: pointer;    
}

.discipline-icon .checked, .discipline-icon .unchecked {
    display: none;
}

.discipline-icon .checked.visible, .discipline-icon .unchecked.visible {
    display: block;
    width: 16px;
}


.btn.btn-add {
    border: 3px dashed #11539D;
    color: #11539D
}

.btn.btn-add:hover {
    cursor: pointer;
    background: #11539D;
    color: white;
    border: none;
    
}

.popup-content {
    padding: 0!important;
    border: none!important;
}