.project-portfolio-comp .btn-groups p {
    padding: 5px 20px;
    font-size: 20px;
    margin-bottom: 0;

}

.project-portfolio-comp .projects {
    border: 1px solid black;
    min-height: 100px;
}

.project-portfolio-comp .project p {
    margin: 0;
}
.project-portfolio-comp .project {
    cursor: pointer;
}

.project-portfolio-comp .project:hover {
    background: #dadada;
}

.project-portfolio-comp .orderNumber{
    font-weight: bold; 
}
