
.projects-comp .project
{
    height: 170px;
}
/* .project>.btn
{
    width: 100%;
    margin: 5px;
} */

.projects-comp .project-number
{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1vw;
}
.projects-comp .project-desc
{
    font-size: 16px;
    line-height: 1.2;
}
.projects-comp .btn.border-2 {
    border: 1px black solid;
    border-radius: 0;    
}

.projects-comp .btn.border-2:hover {
    background: #11539D;
    color: white;
    border: none;
}

